input, button {
  background-color: #e5e5e5;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table, th, td {
    border: 1px solid black;
    background-color: #efefef;
    }
th, td {
    padding: 10px;
    text-align: center;
}
body {
  text-align: center;
  background-color: gray;
  margin: 0; 
  padding: 0;
  overflow-x: hidden; 
}

html, body {
    width: 100%; 
    height: 100%; 
}
button:hover {
  background-color: green;
}
.hide {
  display: none;
  padding-left: 20px;
}

.nav {
  text-align: left;
  background: #252526;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  text-decoration: none;
  margin-right: 100%;
  white-space: nowrap;
  font-weight: bold;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: blue;
}

.others:hover .hide {
  display: block;
}

@media (max-width: 768px) {
  }