body {
    text-align: center;
    background-color: #bdf1ea;
    margin: 0; 
    padding: 0;
    overflow-x: hidden; 
}
 
  html, body {
      width: 100%; 
      height: 100%; 
}

input {
  background-color: #e7e7e7;
}  
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table, th, td {
    border: 1px solid black;
    background-color: white;
}
th, td {
    padding: 10px;
    text-align: center;
}

details summary {
  background-color: #777;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 100%;
}

details summary:hover {
  background-color: #555;
}

details table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

details table, details th, details td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

details th {
  background-color: #f2f2f2;
}

details[open] summary {
  background-color: #555;
  font-size: 20px;
}

#tax {
  background-color: #72ff88;
  border-radius: 13px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hide {
  display: none;
  padding-left: 20px;
}

.nav {
  text-align: left;
  background: orange;
  padding: 10px;
  border-radius: 20px;
  margin-right: 100%;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: greenyellow;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


a {
  text-decoration: none;
  color: greenyellow;
}

a:hover {
  color: blue;
}

.others:hover .hide {
  display: block;
}

@media (max-width: 768px) {
  }