  .titles {
    font-size: 50px;
    font-family: Monospace, "Lucida Console";
  }
  body {
    text-align: center;
    background-color: #ece6e5;
    background-image: linear-gradient(to left, #ffb4b4, #ffd2b4 20%, #ffeeb4);
  }
  input {
    color: blue;
    background-color: #e9e9e9;
  }
  h2 {
  font-size: 20px;
  color: blue;
  }
  h2:hover {
    animation: resize 0.1s ease-in forwards alternate;
    color: blue;
    border: solid 1px black;
  }
  @keyframes resize {
    from {
      font-size: 20px;
    }
      to {
      font-size: 40px;
    }
  }
  .hide {
    display: none;
    padding-left: 20px;
  }
  
  .nav {
    text-align: left;
    background: orange;
    padding: 10px;
    border-radius: 20px;
    margin-right: 100%;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  
  a {
    text-decoration: none;
    color: pink;
  }
  
  a:hover {
    color: blue;
  }
  
  .others:hover .hide {
    display: block;
  }
  
@media (max-width: 768px) {
  body {
    margin: 0; 
    padding: 0;
    overflow-x: hidden; 
  }
  
  html, body {
    width: 100%; 
    height: 100%; 
  }
  
  }

